@charset "UTF-8";
/*GENERIC*/
a {
	color:#F00;
	text-decoration:underline;
}
a:hover, a:focus {
	outline:0;
	color:#FFF;
	background:#F00;
	text-decoration:none;
}
/*ACCORDION*/
.tabakordion .tab {
	margin:0;
	padding:0 5px;
	cursor:pointer;
	background:#CCC;
	border:1px solid #000;
}
.tabakordion .tab span {
	float:right;
}
.tabakordion .tab.selected {
	color:#FFF;
	background:#000;
}
.tabakordion .tab.focus, .tabakordion .tab:hover {
	color:#F00;
	background:#000;
	border-color:#F00;
}
/*TABS*/	
.tabakordion.tabs ul:first-child {
	margin:0;	
	padding:0;
	list-style:none;
}
.tabakordion.tabs .tab {
	padding:0;
	float:left;
	font-weight:700;
	margin:0 1px 0 0;
	text-align:center;
	display:inline-block;
}
.tabakordion.tabs .tab a, .tabakordion.tabs .tab span {
	color:#000;
	padding:5px;
	display:block;
	cursor:pointer;
	background:#CCC;
	text-decoration:none;
}
.tabakordion.tabs .panel {
	top:-1px;
	clear:both;
	display:block;
	padding:0 10px;
	position:relative;
	border:1px solid #000;
}
.tabakordion.tabs .tab.selected a, .tabakordion.tabs .tab.selected span {
	color:#FFF;
	background:#000;
}
.tabakordion.tabs .tab.focus a, .tabakordion.tabs .tab a:hover, .tabakordion.tabs .tab.focus span, .tabakordion.tabs .tab span:hover {
	color:#F00;
	border-color:#F00;
}
/*SHOW/HIDE*/
.tabakordion.showhide {
	color:#000;
	display:block;
	margin:1em 0 0;
	text-decoration:none;
	border-bottom:1px solid #000;
}
.tabakordion.showhide:hover, .tabakordion.showhide:active, .tabakordion.showhide:focus, .tabakordion.showhide.selected {
	color:#F00;
	background:none;
	border-color:#F00;
}
.showhide-region {
	padding:5px;
}
.showhide-region:focus {
	color:#000;
	background:none;
	outline:1px dotted #F00;
}
